#navbar{
  width: 100%;
  height: 100%;
  background: #2a0632;
}

#navbar .left h4{
  display: inline-block;
  position: relative;
  bottom: 31px;
  right: 30px;
  color: white;
  font-size: 20px;
}

#navbar .left img{
  width: 96px;
  padding: 10px;
  display: inline-block;
}

#navbar .right{
  position: absolute;
  right: 26px;
  top: 18px;
  font-size: 16px;
}

#navbar .right ul .login{
  position: revert;
  margin-left: 8px;
}

#navbar .left{
  position: absolute;
}

#navbar .right ul li{
  display: inline-block;
  list-style: none;
  margin-left: 45px;
  transition: 0.2s ease;
}

#navbar .right ul li a{
  text-decoration: none;
  color: white;
  padding: 13px 12px;
}

.cart img{
  width: 20px;
}

.cart{
  position: absolute;
  top: -10px;
  left: 595px;
}

#main .left{
  width: 50%;
  height: 517px;
  margin-top: 40px;
  display: inline-block;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("intruments-bg.jpg");
}

#main .left img{
  width: 779px;
  height: 493px;
  margin-left: -84px;
  transform: rotate(-40deg);
  padding: 105px;
  margin-top: 24px;
}


#main .content{
  text-align: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("intruments-bg.jpg");
  width: 594px;
  height: 517px;
  /* padding: 83px; */
  right: 0;
  position: absolute;
  top: 76px;
}

#main .content .store{
  padding: 63px;
  margin-left: -3rem;
}

#main .content .store h1{
  font-size: 38px;
  color: purple;
  margin-left: -169px;
}

#main .content .store h3{
  width: 320px;
  font-weight: 300;
}

#main .sidebar .card{
  background: #2a0632;
  margin-left: 2rem;
  width: 181px;
  height: 133px;
  display: inline-block;
}

.card img{
  width: 129px;
  height: 83px;
  margin-top: 22px;
}

#main .sidebar{
  width: 828px;
  margin-left: -229px;
}
